/* grayscale theme */

@define-color gray-lightest     #e8e8e8;
@define-color gray-lighter-2    #e4e4e4;
@define-color gray-lighter-1    #e2e2e2;
@define-color gray-light-1      #c8c8c8;
@define-color gray-light-2      #b8b8b8;
@define-color gray-light-3      #bababa;
@define-color gray-light-4      #c4c4c4;
@define-color gray-bright       #e6e6e6;
@define-color gray-medium-1     #d4d4d4;
@define-color gray-medium-2     #d2d2d2;
@define-color gray-medium-3     #d0d0d0;
@define-color gray-medium-4     #c0c0c0;
@define-color gray-medium-5     #bdbdbd;
@define-color gray-accent       #d8d8d8;
@define-color text          #d6d6d6;
@define-color subtext1      #c4c4c4;
@define-color subtext0      #ababab;
@define-color overlay2      #9a9a9a;
@define-color overlay1      #838383;
@define-color overlay0      #727272;
@define-color surface2      #5c5c5c;
@define-color surface1      #4a4a4a;
@define-color surface0      #363636;
@define-color base          #262626;
@define-color mantle        #1e1e1e;
@define-color crust         #181818;

/*
	br - border
	bg - background
	fg - foreground
*/

/* main colors */

@define-color accent        @gray-accent;
@define-color main-br       @subtext0;
@define-color main-bg       @crust;
@define-color main-fg       @text;
@define-color hover-bg      @base;
@define-color hover-fg      alpha(@main-fg, 0.75);
@define-color outline       shade(@main-bg, 0.5);

/* module colors */

@define-color workspaces    @mantle;
@define-color temperature   @mantle;
@define-color memory        @base;
@define-color cpu           @surface0;
@define-color time          @surface0;
@define-color date          @base;
@define-color tray          @mantle;
@define-color volume        @mantle;
@define-color backlight     @base;
@define-color battery       @surface0;

/* state colors */

@define-color warning       @gray-bright;
@define-color critical      @gray-light-2;
@define-color charging      @gray-medium-1;
