vesktop/sessionData
Hyprland-Config/.config/vesktop/Crashpad
Hyprland-Config/.config/vesktop/sessionData
Hyprland-Config/.config/vesktop/SingletonSocket
Hyprland-Config/.config/vesktop/SingletonLock
Hyprland-Config/.config/vesktop/settings.json
Hyprland-Config/.config/vesktop/SingletonCookie
Hyprland-Config/.config/vesktop/state.json