vesktop/sessionData
Hyprland-Config/.config/vesktop/Crashpad
Hyprland-Config/.config/vesktop/sessionData
Hyprland-Config/.config/vesktop/SingletonSocket
Hyprland-Config/.config/vesktop/SingletonLock
Hyprland-Config/.config/vesktop/settings.json
Hyprland-Config/.config/vesktop/SingletonCookie
Hyprland-Config/.config/vesktop/state.json

Hyprland-Config/.config/kitty/kitty.conf
Hyprland-Config/.config/hypr/hyprland/design.conf
Hyprland-Config/.config/swaync/style.css
Hyprland-Config/.config/ags/status-bar/style.scss
Hyprland-Config/.config/ags/status-bar/style.css
Hyprland-Config/.config/vesktop/themes/Vesktop.theme.css

Hyprland-Config/.config/cava/config

Hyprland-Config/.config/rofi/colors.rasi

Hyprland-Config/.config/theming/current-theme
Hyprland-Config/.config/fastfetch/config.jsonc
Hyprland-Config/.config/spicetify/Themes/marketplace/color.ini
Hyprland-Config/.config/wofi/style.css
Hyprland-Config/.config/vesktop/settings/settings.json

Hyprland-Config/.themes/MyTheme/gtk-4.0/libadwaita.css

Hyprland-Config/.themes/MyTheme/gtk-4.0/libadwaita-tweaks.css

Hyprland-Config/.themes/MyTheme/gtk-3.0/gtk.css
