vesktop/sessionData
Hyprland-Config/.config/vesktop/Crashpad
Hyprland-Config/.config/vesktop/sessionData
Hyprland-Config/.config/vesktop/SingletonSocket
Hyprland-Config/.config/vesktop/SingletonLock
Hyprland-Config/.config/vesktop/settings.json
Hyprland-Config/.config/vesktop/SingletonCookie
Hyprland-Config/.config/vesktop/state.json

Hyprland-Config/.config/kitty/kitty.conf
Hyprland-Config/.config/hypr/hyprland/design.conf
Hyprland-Config/.config/swaync/style.css
Hyprland-Config/.config/ags/status-bar/style.scss
Hyprland-Config/.config/ags/status-bar/style.css
Hyprland-Config/.config/vesktop/themes/Vesktop.theme.css
