/*----------------
    workspaces
----------------*/

#custom-left_div.1,
#custom-right_div.1 {
	color: @workspaces;
}

/* monitor 2 left dividers */
#custom-right_inv.2 {
	color: @battery;
}
#custom-right_div.8 {
	background-color: @battery;
	color: @backlight;
}
#custom-right_div.7 {
	background-color: @backlight;
	color: @volume;
}
#custom-right_div.6 {
	background-color: @volume;
	color: @main-bg;
}

#workspaces {
	padding: 0 1px;
	background-color: @workspaces;
}
#workspaces button.active label,
#workspaces button.focused label {
	color: @accent;
}

/*------------------
    window title
------------------*/

#window {
	margin: 0 12px;
}
